/*
 * pricing-table.less
 * -----------------------------------------------
*/
.pricing-table {
	.pricing-icon {
		background: @theme-color;
	}
	&:hover {
		border-color: @theme-color2;
		.pricing-icon {
			background: @theme-color;
		}
	}
}