/*
 * service-icon-box.less9999
 * -----------------------------------------------
*/
.service-icon-box {
	.icon {
		background: @theme-color2;
	}
	&:hover .icon {
		background: @theme-color;
	}
}