/*
 * team-members.less
 * -----------------------------------------------
*/

.team-members {
	.team-details {
		background-color: @theme-color;
		&:hover{
			background-color: @theme-color2;
		}
	}
}

