/*
 * home-info-box.less
 * -----------------------------------------------
*/
.home-info-box {
	background-color: #333;
	.transition(all 0.3s ease);
	&:hover {
		background-color: #111;
	}
}