/*
 * pricing-table.less
 * -----------------------------------------------
*/
.pricing-table {
	border: 8px solid #eeeeee;
	.transition(all 0.3s ease);
	.pricing-icon {
		background: #eee;
		border-radius: 50%;
		display: inline-block;
		margin-top: -50%;
		padding: 30px;
		.transition(all 0.3s ease);
		i {
			color: #fff;
			font-size: 36px;
		}
	}
}