/*
 * service-icon-box.less
 * -----------------------------------------------
*/
.service-icon-box {
	margin-bottom: 30px;
	overflow: hidden;
	a {
		background: @gray-lighter;
		color: @white-base;
		display: inline-block;
		height: 70px;
		line-height: 80px;
		text-align: center;
		text-decoration: none;
		.transition(all .3s ease-in-out 0s);
		width: 70px;
		i {
			font-size: 28px;
		}
	}
	&:hover a i {
		color: @white-base;
	}
}