/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

COLOR1: #ff5722
COLOR2: #4A5567
----------------------------------------- */
/*
 * background: theme-color
 * -----------------------------------------------
*/
.post .entry-meta.meta-absolute {
  background-color: rgba(255, 87, 34, 0.9) !important;
}
.tab-slider .nav.nav-pills a:hover,
.tab-slider .nav.nav-pills a.active,
.custom-nav-tabs > li > a:hover,
.widget .tags a:hover,
.progress-item .progress-bar,
.small-title .title::after,
.drop-caps.colored-square p:first-child:first-letter,
.drop-caps.colored-rounded p:first-child:first-letter,
.working-process.theme-colored a,
.widget.dark .tags a:hover,
.blog-posts .post .entry-content .post-date.right,
.owl-theme.dot-theme-colored .owl-controls .owl-dot span,
.portfolio-filter a.active,
.portfolio-filter a:hover,
.pagination.theme-colored li.active a,
.section-title .both-side-line::after,
.section-title .both-side-line::before,
.section-title .top-side-line::after,
.section-title .left-side-line::before,
.section-title .right-side-line::before,
.product .tag-sale,
.owl-theme .owl-dots .owl-dot.active span,
.blog-posts .post.style1 .entry-header .entry-date.entry-date-absolute,
.title-dots span {
  background: #ff5722;
}
.cd-timeline-simple .cd-timeline-block .cd-timeline-img {
  background: #ff5722 !important;
}
.ui-state-highlight {
  background: #ff5722 !important;
  color: #fff !important;
}
/*
 * text: theme-color
 * -----------------------------------------------
*/
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a i,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover i,
.blog-posts .post .entry-meta li i,
.widget .twitter-feed li::after,
.widget .address li i,
.icon-box.box-style1.practice-style3 i,
.icon-box.services-style1:hover .heading,
.horizontal-contact-widget .widget::before,
.small-title i,
.drop-caps.text-colored p:first-child:first-letter,
.schedule-box:hover .schedule-details .title a,
.widget.dark .nav-tabs li.active a,
.pagination.theme-colored li a,
.pager.theme-colored a,
.widget .post-title a:hover,
.donation-form .form-group label {
  color: #ff5722;
}
.star-rating span::before {
  color: #ff5722 !important;
}
/*
 * border: theme-color
 * -----------------------------------------------
*/
.line-bottom:after,
.widget .line-bottom:after,
.widget .line-bottom:after,
.pager.theme-colored a,
.owl-carousel.owl-nav-top .owl-controls .owl-nav .owl-prev,
.owl-carousel.owl-nav-top .owl-controls .owl-nav .owl-next {
  border: 1px solid #ff5722;
}
.owl-theme .owl-dots .owl-dot span {
  border-color: #ff5722;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper::after {
  border-color: #ff5722 transparent transparent;
}
.section-title.title-border {
  border-left: 4px solid #ff5722;
}
/* border-top-color */
.cssload-tri {
  border-top: 27px solid #ff5722;
}
/* border-right-color */
.border-right-red {
  border-right: 1px solid #ff5722;
}
.section-title.title-border.title-right {
  border-right: 4px solid #ff5722;
}
/* border-bottom-color */
.border-bottom {
  border-bottom: 1px solid #ff5722;
}
.cssload-tri.cssload-invert {
  border-bottom: 27px solid #ff5722;
}
/* box-shadow */
/* Dropdown Search Form */
.dropdown-search-form-content .dropdown-search-form .input-group {
  border-color: #ff5722;
}
.dropdown-search-form-content .dropdown-search-form button[type="submit"] {
  background: #ff5722;
}
.dropdown-search-form-content .dropdown-search-form button[type="submit"] i {
  color: #fff;
}
/* Modern Header */
.modern-header.modern-header-theme-colored .header-nav .header-nav-wrapper:not(.scroll-to-fixed-fixed) nav {
  background: #ff5722;
}
.modern-header.modern-header-theme-colored .header-nav .header-nav-wrapper.scroll-to-fixed-fixed {
  background: #ff5722;
}
/* -------- Text Theme Color ---------- */
.text-theme-colored {
  color: #ff5722 !important;
}
.text-hover-theme-colored:hover {
  color: #ff5722 !important;
}
ul.list.theme-colored li:before,
ul.list.theme-colored.angle-double-right li:before,
ul.list.theme-colored.angle-right li:before,
ul.list.theme-colored.check-circle li:before,
ul.list.theme-colored.check li:before,
.list-icon.theme-colored li i {
  color: #ff5722;
}
/* -------- border-theme-color ---------- */
.border-theme-colored {
  border-color: #ff5722 !important;
}
.border-1px-theme-colored {
  border: 1px solid #ff5722;
}
/* border-left-color */
blockquote.theme-colored {
  border-left: 3px solid #ff5722;
}
blockquote.bg-theme-colored {
  border-left: 3px solid #ee3900;
  color: #fff;
}
blockquote.bg-theme-colored footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-colored {
  background-color: #eeeeee !important;
  border-left: 3px solid #ff5722;
  color: #ff5722;
}
blockquote.gray.bg-theme-colored footer {
  color: #777777;
}
/* -------- bg-theme-color ---------- */
.bg-theme-colored {
  background-color: #ff5722 !important;
}
.bg-hover-theme-colored:hover {
  background: #ff5722 !important;
  border-color: #ff5722 !important;
  color: #fff !important;
}
.bg-hover-theme-colored:hover h1,
.bg-hover-theme-colored:hover h2,
.bg-hover-theme-colored:hover h3,
.bg-hover-theme-colored:hover h4,
.bg-hover-theme-colored:hover h5,
.bg-hover-theme-colored:hover h6,
.bg-hover-theme-colored:hover p,
.bg-hover-theme-colored:hover a,
.bg-hover-theme-colored:hover i {
  color: #fff !important;
}
.list-icon.theme-colored.square li i,
.list-icon.theme-colored.rounded li i {
  background: #ff5722;
}
/* -------- lighter/darker bg Color ---------- */
.bg-theme-colored-lighter2 {
  background-color: #ff5f2c !important;
}
.bg-theme-colored-lighter3 {
  background-color: #ff6331 !important;
}
.bg-theme-colored-lighter4 {
  background-color: #ff6736 !important;
}
.bg-theme-colored-lighter5 {
  background-color: #ff6a3c !important;
}
.bg-theme-colored-lighter6 {
  background-color: #ff6e41 !important;
}
.bg-theme-colored-lighter7 {
  background-color: #ff7246 !important;
}
.bg-theme-colored-lighter8 {
  background-color: #ff764b !important;
}
.bg-theme-colored-lighter9 {
  background-color: #ff7a50 !important;
}
.bg-theme-colored-darker2 {
  background-color: #ff4f18 !important;
}
.bg-theme-colored-darker3 {
  background-color: #ff4b13 !important;
}
.bg-theme-colored-darker4 {
  background-color: #ff470e !important;
}
.bg-theme-colored-darker5 {
  background-color: #ff4408 !important;
}
.bg-theme-colored-darker6 {
  background-color: #ff4003 !important;
}
.bg-theme-colored-darker7 {
  background-color: #fd3d00 !important;
}
.bg-theme-colored-darker8 {
  background-color: #f83c00 !important;
}
.bg-theme-colored-darker9 {
  background-color: #f33a00 !important;
}
/* -------- Transparent bg Color ---------- */
.bg-theme-colored-transparent-9 {
  background-color: rgba(255, 87, 34, 0.9) !important;
}
.bg-theme-colored-transparent-8 {
  background-color: rgba(255, 87, 34, 0.8) !important;
}
.bg-theme-colored-transparent-7 {
  background-color: rgba(255, 87, 34, 0.7) !important;
}
.bg-theme-colored-transparent-6 {
  background-color: rgba(255, 87, 34, 0.6) !important;
}
.bg-theme-colored-transparent-5 {
  background-color: rgba(255, 87, 34, 0.5) !important;
}
.bg-theme-colored-transparent-4 {
  background-color: rgba(255, 87, 34, 0.4) !important;
}
.bg-theme-colored-transparent-3 {
  background-color: rgba(255, 87, 34, 0.3) !important;
}
.bg-theme-colored-transparent-2 {
  background-color: rgba(255, 87, 34, 0.2) !important;
}
.bg-theme-colored-transparent-1 {
  background-color: rgba(255, 87, 34, 0.1) !important;
}
.bg-theme-colored-transparent {
  background-color: rgba(255, 87, 34, 0.5) !important;
}
/* -------- layer overlay Color ---------- */
.layer-overlay {
  /* .overlay-theme-colored */
}
.layer-overlay.overlay-theme-colored::before {
  background-color: rgba(255, 87, 34, 0.8);
}
.layer-overlay.overlay-theme-colored-1::before {
  background-color: rgba(255, 87, 34, 0.1);
}
.layer-overlay.overlay-theme-colored-2::before {
  background-color: rgba(255, 87, 34, 0.2);
}
.layer-overlay.overlay-theme-colored-3::before {
  background-color: rgba(255, 87, 34, 0.3);
}
.layer-overlay.overlay-theme-colored-4::before {
  background-color: rgba(255, 87, 34, 0.4);
}
.layer-overlay.overlay-theme-colored-5::before {
  background-color: rgba(255, 87, 34, 0.5);
}
.layer-overlay.overlay-theme-colored-6::before {
  background-color: rgba(255, 87, 34, 0.6);
}
.layer-overlay.overlay-theme-colored-7::before {
  background-color: rgba(255, 87, 34, 0.7);
}
.layer-overlay.overlay-theme-colored-8::before {
  background-color: rgba(255, 87, 34, 0.8);
}
.layer-overlay.overlay-theme-colored-9::before {
  background-color: rgba(255, 87, 34, 0.9);
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored {
  color: #ff5722;
  background-color: #fff;
  border-color: #ff5722;
}
.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.focus {
  color: #ff5722;
  background-color: #e6e6e6;
  border-color: #a22700;
}
.btn-default.btn-theme-colored:hover {
  color: #ff5722;
  background-color: #e6e6e6;
  border-color: #e43700;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  color: #ff5722;
  background-color: #e6e6e6;
  border-color: #e43700;
}
.btn-default.btn-theme-colored:active:hover,
.btn-default.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active:focus,
.btn-default.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored:active.focus,
.btn-default.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored.focus {
  color: #ff5722;
  background-color: #d4d4d4;
  border-color: #a22700;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  background-image: none;
}
.btn-default.btn-theme-colored.disabled:hover,
.btn-default.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored.disabled:focus,
.btn-default.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.disabled.focus,
.btn-default.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #ff5722;
}
.btn-default.btn-theme-colored .badge {
  color: #fff;
  background-color: #ff5722;
}
.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored:focus {
  background-color: #ff5722;
  border-color: #ff5722;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored {
  color: #ff5722;
  background-color: #fff;
  border-color: #ff5722;
}
.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.focus {
  color: #ff5722;
  background-color: #e6e6e6;
  border-color: #a22700;
}
.btn-border.btn-theme-colored:hover {
  color: #ff5722;
  background-color: #e6e6e6;
  border-color: #e43700;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  color: #ff5722;
  background-color: #e6e6e6;
  border-color: #e43700;
}
.btn-border.btn-theme-colored:active:hover,
.btn-border.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active:focus,
.btn-border.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored:active.focus,
.btn-border.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored.focus {
  color: #ff5722;
  background-color: #d4d4d4;
  border-color: #a22700;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  background-image: none;
}
.btn-border.btn-theme-colored.disabled:hover,
.btn-border.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored.disabled:focus,
.btn-border.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.disabled.focus,
.btn-border.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #ff5722;
}
.btn-border.btn-theme-colored .badge {
  color: #fff;
  background-color: #ff5722;
}
.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored:focus {
  background-color: #ee3900;
  border-color: #ee3900;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #ff5722;
  border-color: #ff5722;
}
.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #ee3900;
  border-color: #a22700;
}
.btn-dark.btn-theme-colored:hover {
  color: #fff;
  background-color: #ee3900;
  border-color: #e43700;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #ee3900;
  border-color: #e43700;
}
.btn-dark.btn-theme-colored:active:hover,
.btn-dark.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored:active:focus,
.btn-dark.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored:active.focus,
.btn-dark.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #ca3100;
  border-color: #a22700;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  background-image: none;
}
.btn-dark.btn-theme-colored.disabled:hover,
.btn-dark.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored.disabled:focus,
.btn-dark.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.disabled.focus,
.btn-dark.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored.focus {
  background-color: #ff5722;
  border-color: #ff5722;
}
.btn-dark.btn-theme-colored .badge {
  color: #ff5722;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored {
  color: #ff5722;
  background-color: #ff7e55;
  border-color: #ff7e55;
}
.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.focus {
  color: #ff5722;
  background-color: #ff5722;
  border-color: #d43300;
}
.btn-gray.btn-theme-colored:hover {
  color: #ff5722;
  background-color: #ff5722;
  border-color: #ff4f18;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  color: #ff5722;
  background-color: #ff5722;
  border-color: #ff4f18;
}
.btn-gray.btn-theme-colored:active:hover,
.btn-gray.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored:active:focus,
.btn-gray.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored:active.focus,
.btn-gray.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored.focus {
  color: #ff5722;
  background-color: #fd3d00;
  border-color: #d43300;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  background-image: none;
}
.btn-gray.btn-theme-colored.disabled:hover,
.btn-gray.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored.disabled:focus,
.btn-gray.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.disabled.focus,
.btn-gray.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored.focus {
  background-color: #ff7e55;
  border-color: #ff7e55;
}
.btn-gray.btn-theme-colored .badge {
  color: #ff7e55;
  background-color: #ff5722;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored {
  color: #fff;
  background-color: #ff5722;
  border-color: #ff5722;
}
.btn-theme-colored:focus,
.btn-theme-colored.focus {
  color: #fff;
  background-color: #ee3900;
  border-color: #a22700;
}
.btn-theme-colored:hover {
  color: #fff;
  background-color: #ee3900;
  border-color: #e43700;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  color: #fff;
  background-color: #ee3900;
  border-color: #e43700;
}
.btn-theme-colored:active:hover,
.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-theme-colored:hover,
.btn-theme-colored:active:focus,
.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-theme-colored:focus,
.btn-theme-colored:active.focus,
.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-theme-colored.focus {
  color: #fff;
  background-color: #ca3100;
  border-color: #a22700;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  background-image: none;
}
.btn-theme-colored.disabled:hover,
.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-theme-colored:hover,
.btn-theme-colored.disabled:focus,
.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-theme-colored:focus,
.btn-theme-colored.disabled.focus,
.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-theme-colored.focus {
  background-color: #ff5722;
  border-color: #ff5722;
}
.btn-theme-colored .badge {
  color: #ff5722;
  background-color: #fff;
}
/*
 * btn-transparent
 * -----------------------------------------------
*/
.btn-transparent {
  background-color: transparent;
  color: #fff;
}
.btn-transparent.btn-theme-colored {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: #111111;
  border-color: #111111;
}
.btn-transparent.btn-dark:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-transparent.btn-dark.btn-theme-colored {
  background-color: #ff5722;
  border-color: #ff5722;
}
.btn-transparent.btn-dark.btn-theme-colored:hover {
  background-color: #ee3900;
  border-color: #ee3900;
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: #eeeeee;
}
.btn-transparent.btn-border:hover {
  background-color: #eeeeee;
  color: #000;
}
.btn-transparent.btn-border.btn-theme-colored {
  background-color: transparent;
  border-color: #ff5722;
}
.btn-transparent.btn-border.btn-theme-colored:hover {
  background-color: #ff5722;
  color: #fff;
}
.btn-gray.btn-transparent {
  background-color: #d3d3d3;
  color: #333333;
}
.btn-gray.btn-transparent:hover {
  background-color: #ececec;
  color: #1a1a1a;
}
.btn-gray.btn-transparent.btn-theme-colored {
  background-color: #ff7e55;
  color: #fff;
}
.btn-gray.btn-transparent.btn-theme-colored:hover {
  background-color: #ee3900;
  color: #ee3900;
}
.btn-hover-theme-colored:hover {
  background-color: #ff5722;
  border-color: #ff5722;
  color: #fff;
}
/*
 * Shortcode: styled-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored a {
  color: #ff5722;
}
.icon-theme-colored.icon-bordered a {
  border-color: #ff5722;
}
.icon-theme-colored.icon-bordered a:hover {
  background-color: #ff5722;
  color: #fff;
}
.icon-theme-colored.icon-dark a {
  background-color: #ff5722;
  color: #fff;
}
.icon-theme-colored.icon-dark a:hover {
  background-color: #ee3900;
}
.icon-theme-colored.icon-dark.icon-bordered a {
  border-color: #ff5722;
  color: #ff5722;
}
.icon-theme-colored.icon-dark.icon-bordered a:hover {
  background-color: #ff5722;
  border-color: #ff5722;
  color: #fff;
}
.icon-theme-colored.icon-gray a {
  color: #ff5722;
}
.icon-theme-colored.icon-gray a:hover {
  color: #ee3900;
}
.icon-theme-colored.icon-gray.icon-bordered a {
  color: #ff5722;
}
.icon-theme-colored.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #ff5722;
}
.icon-hover-theme-colored a:hover {
  background-color: #ff5722;
  border-color: #ff5722;
  color: #fff;
}
.styled-icons.icon-hover-theme-colored a:hover {
  background-color: #ff5722;
  border-color: #ff5722;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored .icon {
  color: #ff5722;
}
.icon-box.iconbox-theme-colored .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #ff5722;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered {
  border-color: #ff5722;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered:hover {
  background-color: #ff5722;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray:hover {
  background-color: #ff5722;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered:hover {
  background-color: #ff5722;
  border-color: #ff5722;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark {
  background-color: #ff5722;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #ff5722;
  color: #ff5722;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered:hover {
  background-color: #ff5722;
  border-color: #ff5722;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white {
  background-color: #fff;
  color: #ff5722;
}
.icon-box.iconbox-theme-colored .icon.icon-white:hover {
  background-color: #ff5722;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #ff5722;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered:hover {
  background-color: #ff5722;
  border-color: #ff5722;
  color: #fff;
}
.icon-box.iconbox-theme-colored.iconbox-border {
  border-color: #ff5722;
}
/*
 *  accordion.less
 * -----------------------------------------------
*/
.accordion-theme-colored .panel-default > .panel-heading {
  background-color: #ff5722;
}
.accordion-theme-colored .panel-default > .panel-heading .panel-title > a,
.accordion-theme-colored .panel-default > .panel-heading .panel-title > a:hover,
.accordion-theme-colored .panel-default > .panel-heading .panel-title > a:focus {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored .panel-heading .panel-title a.active:before {
  background: #ff5722;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading {
  background: #ff5722;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading .panel-title a:before {
  background: #ff4b13;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading .panel-title a.active:before {
  background: #df3500;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading {
  background: #ff5722;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading .panel-title a:before {
  background: #ff4408;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading .panel-title a.active:before {
  background: #4A5567;
}
.panel-group.accordion-icon-filled.accordion-icon-left.accordion-icon-filled-theme-colored .panel-heading .panel-title a:before {
  background-color: #ff5722;
}
.panel-group.accordion-icon-filled.accordion-icon-right.accordion-icon-filled-theme-colored .panel-heading .panel-title a:after {
  background-color: #ff5722;
}
/* Modern Header */
.modern-header.modern-header-theme-colored2 .header-nav .header-nav-wrapper:not(.scroll-to-fixed-fixed) nav {
  background: #4A5567;
}
.modern-header.modern-header-theme-colored2 .header-nav .header-nav-wrapper.scroll-to-fixed-fixed {
  background: #4A5567;
}
/* -------- Text Theme Color ---------- */
.text-theme-colored2 {
  color: #4A5567 !important;
}
.text-hover-theme-colored2:hover {
  color: #4A5567 !important;
}
ul.list.theme-colored2 li:before,
ul.list.theme-colored2.angle-double-right li:before,
ul.list.theme-colored2.angle-right li:before,
ul.list.theme-colored2.check-circle li:before,
ul.list.theme-colored2.check li:before,
.list-icon.theme-colored2 li i {
  color: #4A5567;
}
/* -------- border-theme-color ---------- */
.border-theme-colored2 {
  border-color: #4A5567 !important;
}
.border-1px-theme-colored2 {
  border: 1px solid #4A5567;
}
/* border-left-color */
blockquote.theme-colored2 {
  border-left: 3px solid #4A5567;
}
blockquote.bg-theme-colored2 {
  border-left: 3px solid #353d49;
  color: #fff;
}
blockquote.bg-theme-colored2 footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-colored2 {
  background-color: #eeeeee !important;
  border-left: 3px solid #4A5567;
  color: #4A5567;
}
blockquote.gray.bg-theme-colored2 footer {
  color: #777777;
}
/* -------- bg-theme-color ---------- */
.bg-theme-colored2 {
  background-color: #4A5567 !important;
}
.bg-hover-theme-colored2:hover {
  background: #4A5567 !important;
  border-color: #4A5567 !important;
  color: #fff !important;
}
.bg-hover-theme-colored2:hover h1,
.bg-hover-theme-colored2:hover h2,
.bg-hover-theme-colored2:hover h3,
.bg-hover-theme-colored2:hover h4,
.bg-hover-theme-colored2:hover h5,
.bg-hover-theme-colored2:hover h6,
.bg-hover-theme-colored2:hover p,
.bg-hover-theme-colored2:hover a,
.bg-hover-theme-colored2:hover i {
  color: #fff !important;
}
.list-icon.theme-colored2.square li i,
.list-icon.theme-colored2.rounded li i {
  background: #4A5567;
}
/* -------- lighter/darker bg Color ---------- */
.bg-theme-colored2-lighter2 {
  background-color: #4e5a6d !important;
}
.bg-theme-colored2-lighter3 {
  background-color: #505c70 !important;
}
.bg-theme-colored2-lighter4 {
  background-color: #535f73 !important;
}
.bg-theme-colored2-lighter5 {
  background-color: #556176 !important;
}
.bg-theme-colored2-lighter6 {
  background-color: #576479 !important;
}
.bg-theme-colored2-lighter7 {
  background-color: #59667c !important;
}
.bg-theme-colored2-lighter8 {
  background-color: #5b697f !important;
}
.bg-theme-colored2-lighter9 {
  background-color: #5d6b82 !important;
}
.bg-theme-colored2-darker2 {
  background-color: #465061 !important;
}
.bg-theme-colored2-darker3 {
  background-color: #444e5e !important;
}
.bg-theme-colored2-darker4 {
  background-color: #414b5b !important;
}
.bg-theme-colored2-darker5 {
  background-color: #3f4958 !important;
}
.bg-theme-colored2-darker6 {
  background-color: #3d4655 !important;
}
.bg-theme-colored2-darker7 {
  background-color: #3b4452 !important;
}
.bg-theme-colored2-darker8 {
  background-color: #39414f !important;
}
.bg-theme-colored2-darker9 {
  background-color: #373f4c !important;
}
/* -------- Transparent bg Color ---------- */
.bg-theme-colored2-transparent-9 {
  background-color: rgba(74, 85, 103, 0.9) !important;
}
.bg-theme-colored2-transparent-8 {
  background-color: rgba(74, 85, 103, 0.8) !important;
}
.bg-theme-colored2-transparent-7 {
  background-color: rgba(74, 85, 103, 0.7) !important;
}
.bg-theme-colored2-transparent-6 {
  background-color: rgba(74, 85, 103, 0.6) !important;
}
.bg-theme-colored2-transparent-5 {
  background-color: rgba(74, 85, 103, 0.5) !important;
}
.bg-theme-colored2-transparent-4 {
  background-color: rgba(74, 85, 103, 0.4) !important;
}
.bg-theme-colored2-transparent-3 {
  background-color: rgba(74, 85, 103, 0.3) !important;
}
.bg-theme-colored2-transparent-2 {
  background-color: rgba(74, 85, 103, 0.2) !important;
}
.bg-theme-colored2-transparent-1 {
  background-color: rgba(74, 85, 103, 0.1) !important;
}
.bg-theme-colored2-transparent {
  background-color: rgba(74, 85, 103, 0.5) !important;
}
/* -------- layer overlay Color ---------- */
.layer-overlay {
  /* .overlay-theme-colored2 */
}
.layer-overlay.overlay-theme-colored2::before {
  background-color: rgba(74, 85, 103, 0.8) !important;
}
.layer-overlay.overlay-theme-colored2-1::before {
  background-color: rgba(74, 85, 103, 0.1);
}
.layer-overlay.overlay-theme-colored2-2::before {
  background-color: rgba(74, 85, 103, 0.2);
}
.layer-overlay.overlay-theme-colored2-3::before {
  background-color: rgba(74, 85, 103, 0.3);
}
.layer-overlay.overlay-theme-colored2-4::before {
  background-color: rgba(74, 85, 103, 0.4);
}
.layer-overlay.overlay-theme-colored2-5::before {
  background-color: rgba(74, 85, 103, 0.5);
}
.layer-overlay.overlay-theme-colored2-6::before {
  background-color: rgba(74, 85, 103, 0.6);
}
.layer-overlay.overlay-theme-colored2-7::before {
  background-color: rgba(74, 85, 103, 0.7);
}
.layer-overlay.overlay-theme-colored2-8::before {
  background-color: rgba(74, 85, 103, 0.8);
}
.layer-overlay.overlay-theme-colored2-9::before {
  background-color: rgba(74, 85, 103, 0.9);
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored2 {
  color: #4A5567;
  background-color: #fff;
  border-color: #4A5567;
}
.btn-default.btn-theme-colored2:focus,
.btn-default.btn-theme-colored2.focus {
  color: #4A5567;
  background-color: #e6e6e6;
  border-color: #15181d;
}
.btn-default.btn-theme-colored2:hover {
  color: #4A5567;
  background-color: #e6e6e6;
  border-color: #303843;
}
.btn-default.btn-theme-colored2:active,
.btn-default.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored2 {
  color: #4A5567;
  background-color: #e6e6e6;
  border-color: #303843;
}
.btn-default.btn-theme-colored2:active:hover,
.btn-default.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored2:hover,
.btn-default.btn-theme-colored2:active:focus,
.btn-default.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored2:focus,
.btn-default.btn-theme-colored2:active.focus,
.btn-default.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored2.focus {
  color: #4A5567;
  background-color: #d4d4d4;
  border-color: #15181d;
}
.btn-default.btn-theme-colored2:active,
.btn-default.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored2 {
  background-image: none;
}
.btn-default.btn-theme-colored2.disabled:hover,
.btn-default.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored2:hover,
.btn-default.btn-theme-colored2.disabled:focus,
.btn-default.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored2:focus,
.btn-default.btn-theme-colored2.disabled.focus,
.btn-default.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored2.focus {
  background-color: #fff;
  border-color: #4A5567;
}
.btn-default.btn-theme-colored2 .badge {
  color: #fff;
  background-color: #4A5567;
}
.btn-default.btn-theme-colored2:hover,
.btn-default.btn-theme-colored2:active,
.btn-default.btn-theme-colored2:focus {
  background-color: #4A5567;
  border-color: #4A5567;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored2 {
  color: #4A5567;
  background-color: #fff;
  border-color: #4A5567;
}
.btn-border.btn-theme-colored2:focus,
.btn-border.btn-theme-colored2.focus {
  color: #4A5567;
  background-color: #e6e6e6;
  border-color: #15181d;
}
.btn-border.btn-theme-colored2:hover {
  color: #4A5567;
  background-color: #e6e6e6;
  border-color: #303843;
}
.btn-border.btn-theme-colored2:active,
.btn-border.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored2 {
  color: #4A5567;
  background-color: #e6e6e6;
  border-color: #303843;
}
.btn-border.btn-theme-colored2:active:hover,
.btn-border.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored2:hover,
.btn-border.btn-theme-colored2:active:focus,
.btn-border.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored2:focus,
.btn-border.btn-theme-colored2:active.focus,
.btn-border.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored2.focus {
  color: #4A5567;
  background-color: #d4d4d4;
  border-color: #15181d;
}
.btn-border.btn-theme-colored2:active,
.btn-border.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored2 {
  background-image: none;
}
.btn-border.btn-theme-colored2.disabled:hover,
.btn-border.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored2:hover,
.btn-border.btn-theme-colored2.disabled:focus,
.btn-border.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored2:focus,
.btn-border.btn-theme-colored2.disabled.focus,
.btn-border.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored2.focus {
  background-color: #fff;
  border-color: #4A5567;
}
.btn-border.btn-theme-colored2 .badge {
  color: #fff;
  background-color: #4A5567;
}
.btn-border.btn-theme-colored2:hover,
.btn-border.btn-theme-colored2:active,
.btn-border.btn-theme-colored2:focus {
  background-color: #353d49;
  border-color: #353d49;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored2 {
  color: #fff;
  background-color: #4A5567;
  border-color: #4A5567;
}
.btn-dark.btn-theme-colored2:focus,
.btn-dark.btn-theme-colored2.focus {
  color: #fff;
  background-color: #353d49;
  border-color: #15181d;
}
.btn-dark.btn-theme-colored2:hover {
  color: #fff;
  background-color: #353d49;
  border-color: #303843;
}
.btn-dark.btn-theme-colored2:active,
.btn-dark.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2 {
  color: #fff;
  background-color: #353d49;
  border-color: #303843;
}
.btn-dark.btn-theme-colored2:active:hover,
.btn-dark.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2:hover,
.btn-dark.btn-theme-colored2:active:focus,
.btn-dark.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2:focus,
.btn-dark.btn-theme-colored2:active.focus,
.btn-dark.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2.focus {
  color: #fff;
  background-color: #262b35;
  border-color: #15181d;
}
.btn-dark.btn-theme-colored2:active,
.btn-dark.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2 {
  background-image: none;
}
.btn-dark.btn-theme-colored2.disabled:hover,
.btn-dark.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored2:hover,
.btn-dark.btn-theme-colored2.disabled:focus,
.btn-dark.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored2:focus,
.btn-dark.btn-theme-colored2.disabled.focus,
.btn-dark.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored2.focus {
  background-color: #4A5567;
  border-color: #4A5567;
}
.btn-dark.btn-theme-colored2 .badge {
  color: #4A5567;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored2 {
  color: #4A5567;
  background-color: #5f6d85;
  border-color: #5f6d85;
}
.btn-gray.btn-theme-colored2:focus,
.btn-gray.btn-theme-colored2.focus {
  color: #4A5567;
  background-color: #4a5567;
  border-color: #2a303a;
}
.btn-gray.btn-theme-colored2:hover {
  color: #4A5567;
  background-color: #4a5567;
  border-color: #465061;
}
.btn-gray.btn-theme-colored2:active,
.btn-gray.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2 {
  color: #4A5567;
  background-color: #4a5567;
  border-color: #465061;
}
.btn-gray.btn-theme-colored2:active:hover,
.btn-gray.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2:hover,
.btn-gray.btn-theme-colored2:active:focus,
.btn-gray.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2:focus,
.btn-gray.btn-theme-colored2:active.focus,
.btn-gray.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2.focus {
  color: #4A5567;
  background-color: #3b4452;
  border-color: #2a303a;
}
.btn-gray.btn-theme-colored2:active,
.btn-gray.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2 {
  background-image: none;
}
.btn-gray.btn-theme-colored2.disabled:hover,
.btn-gray.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored2:hover,
.btn-gray.btn-theme-colored2.disabled:focus,
.btn-gray.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored2:focus,
.btn-gray.btn-theme-colored2.disabled.focus,
.btn-gray.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored2.focus {
  background-color: #5f6d85;
  border-color: #5f6d85;
}
.btn-gray.btn-theme-colored2 .badge {
  color: #5f6d85;
  background-color: #4A5567;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored2 {
  color: #fff;
  background-color: #4A5567;
  border-color: #4A5567;
}
.btn-theme-colored2:focus,
.btn-theme-colored2.focus {
  color: #fff;
  background-color: #353d49;
  border-color: #15181d;
}
.btn-theme-colored2:hover {
  color: #fff;
  background-color: #353d49;
  border-color: #303843;
}
.btn-theme-colored2:active,
.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-theme-colored2 {
  color: #fff;
  background-color: #353d49;
  border-color: #303843;
}
.btn-theme-colored2:active:hover,
.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-theme-colored2:hover,
.btn-theme-colored2:active:focus,
.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-theme-colored2:focus,
.btn-theme-colored2:active.focus,
.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-theme-colored2.focus {
  color: #fff;
  background-color: #262b35;
  border-color: #15181d;
}
.btn-theme-colored2:active,
.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-theme-colored2 {
  background-image: none;
}
.btn-theme-colored2.disabled:hover,
.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-theme-colored2:hover,
.btn-theme-colored2.disabled:focus,
.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-theme-colored2:focus,
.btn-theme-colored2.disabled.focus,
.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-theme-colored2.focus {
  background-color: #4A5567;
  border-color: #4A5567;
}
.btn-theme-colored2 .badge {
  color: #4A5567;
  background-color: #fff;
}
.btn-hover-theme-colored2:hover {
  background-color: #4A5567;
  border-color: #4A5567;
  color: #fff;
}
/*
 * Shortcode: styled-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored2 a {
  color: #4A5567;
}
.icon-theme-colored2.icon-bordered a {
  border-color: #4A5567;
}
.icon-theme-colored2.icon-bordered a:hover {
  background-color: #4A5567;
  color: #fff;
}
.icon-theme-colored2.icon-dark a {
  background-color: #4A5567;
  color: #fff;
}
.icon-theme-colored2.icon-dark a:hover {
  background-color: #353d49;
}
.icon-theme-colored2.icon-dark.icon-bordered a {
  border-color: #4A5567;
  color: #4A5567;
}
.icon-theme-colored2.icon-dark.icon-bordered a:hover {
  background-color: #4A5567;
  border-color: #4A5567;
  color: #fff;
}
.icon-theme-colored2.icon-gray a {
  color: #4A5567;
}
.icon-theme-colored2.icon-gray a:hover {
  color: #353d49;
}
.icon-theme-colored2.icon-gray.icon-bordered a {
  color: #4A5567;
}
.icon-theme-colored2.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #4A5567;
}
.icon-hover-theme-colored2 a:hover {
  background-color: #4A5567;
  border-color: #4A5567;
  color: #fff;
}
.styled-icons.icon-hover-theme-colored2 a:hover {
  background-color: #4A5567;
  border-color: #4A5567;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored2 .icon {
  color: #4A5567;
}
.icon-box.iconbox-theme-colored2 .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #4A5567;
}
.icon-box.iconbox-theme-colored2 .icon.icon-bordered {
  border-color: #4A5567;
}
.icon-box.iconbox-theme-colored2 .icon.icon-bordered:hover {
  background-color: #4A5567;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-gray:hover {
  background-color: #4A5567;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored2 .icon.icon-gray.icon-bordered:hover {
  background-color: #4A5567;
  border-color: #4A5567;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark {
  background-color: #4A5567;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #4A5567;
  color: #4A5567;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark.icon-bordered:hover {
  background-color: #4A5567;
  border-color: #4A5567;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white {
  background-color: #fff;
  color: #4A5567;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white:hover {
  background-color: #4A5567;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #4A5567;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white.icon-bordered:hover {
  background-color: #4A5567;
  border-color: #4A5567;
  color: #fff;
}
.icon-box.iconbox-theme-colored2.iconbox-border {
  border-color: #4A5567;
}
/*
 *  accordion.less
 * -----------------------------------------------
*/
.accordion-theme-colored2 .panel-default > .panel-heading {
  background-color: #4A5567;
}
.accordion-theme-colored2 .panel-default > .panel-heading .panel-title > a,
.accordion-theme-colored2 .panel-default > .panel-heading .panel-title > a:hover,
.accordion-theme-colored2 .panel-default > .panel-heading .panel-title > a:focus {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored2 .panel-heading .panel-title a.active:before {
  background: #4A5567;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading {
  background: #4A5567;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading .panel-title a:before {
  background: #444e5e;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading .panel-title a.active:before {
  background: #2e3540;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading {
  background: #4A5567;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading .panel-title a:before {
  background: #3f4958;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading .panel-title a.active:before {
  background: #ff5722;
}
.panel-group.accordion-icon-filled.accordion-icon-left.accordion-icon-filled-theme-colored2 .panel-heading .panel-title a:before {
  background-color: #4A5567;
}
.panel-group.accordion-icon-filled.accordion-icon-right.accordion-icon-filled-theme-colored2 .panel-heading .panel-title a:after {
  background-color: #4A5567;
}
/*
 *  common.less
 * -----------------------------------------------
*/
/*
 * custom-theme-color-set.less
 * -----------------------------------------------
*/
/*
 * custom-theme-color1.less
 * -----------------------------------------------
*/
/*
 * custom-theme-color2.less
 * -----------------------------------------------
*/
.services-tab .nav-tabs > li > a i {
  color: #4A5567;
}
.horizontal-tab-centered .nav-pills > li > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a,
.horizontal-tab-centered .nav-pills > li.active > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a:focus,
.services-tab .nav-tabs > li.active > a,
.services-tab .nav-tabs > li.active > a:hover,
.services-tab .nav-tabs > li.active > a:focus,
.services-tab .nav-tabs > li a:hover,
.services-tab .nav-tabs > li a:focus {
  background-color: #4A5567;
}
/*
 * home-info-box.less
 * -----------------------------------------------
*/
.home-info-box {
  background-color: #ff5722;
}
.home-info-box:hover {
  background-color: #4A5567;
}
/*
 * service-icon-box.less
 * -----------------------------------------------
*/
.service-icon-box .icon {
  background: #4A5567;
}
.service-icon-box:hover .icon {
  background: #ff5722;
}
/*
 * pricing-table.less
 * -----------------------------------------------
*/
.pricing-table .pricing-icon {
  background: #4A5567;
}
.pricing-table:hover {
  border-color: #ff5722;
}
.pricing-table:hover .pricing-icon {
  background: #4A5567;
}
/*
 * team-members.less
 * -----------------------------------------------
*/
.team-members .team-details {
  background-color: #ff5722;
}
.team-members .team-details:hover {
  background-color: #4A5567;
}
/*
 *  Gradients BG+BGTransparent Color
 * -----------------------------------------------
*/
/* Gradient BG Colors */
.bg-theme-colored-gradient {
  background-color: #ee3900;
  background: -webkit-gradient(linear, left top, left bottom, from(#ee3900), to(#ffa588));
  background: -webkit-linear-gradient(top, #ee3900, #ffa588);
  background: -moz-linear-gradient(top, #ee3900, #ffa588);
  background: -ms-linear-gradient(top, #ee3900, #ffa588);
  background: -o-linear-gradient(top, #ee3900, #ffa588);
}
.bg-theme-colored-gradient-horizontal {
  background: #ee3900;
  background: -webkit-gradient(linear, left top, right top, from(#ee3900), to(#ffa588));
  background: -webkit-linear-gradient(left, #ee3900, #ffa588);
  background: -moz-linear-gradient(left, #ee3900, #ffa588);
  background: -ms-linear-gradient(left, #ee3900, #ffa588);
  background: -o-linear-gradient(left, #ee3900, #ffa588);
}
.bg-theme-colored2-gradient {
  background-color: #353d49;
  background: -webkit-gradient(linear, left top, left bottom, from(#353d49), to(#79879e));
  background: -webkit-linear-gradient(top, #353d49, #79879e);
  background: -moz-linear-gradient(top, #353d49, #79879e);
  background: -ms-linear-gradient(top, #353d49, #79879e);
  background: -o-linear-gradient(top, #353d49, #79879e);
}
.bg-theme-colored2-gradient-horizontal {
  background: #353d49;
  background: -webkit-gradient(linear, left top, right top, from(#353d49), to(#79879e));
  background: -webkit-linear-gradient(left, #353d49, #79879e);
  background: -moz-linear-gradient(left, #353d49, #79879e);
  background: -ms-linear-gradient(left, #353d49, #79879e);
  background: -o-linear-gradient(left, #353d49, #79879e);
}
.bg-theme-colored12-gradient {
  background-color: #ff5722;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff5722), to(#4A5567));
  background: -webkit-linear-gradient(top, #ff5722, #4A5567);
  background: -moz-linear-gradient(top, #ff5722, #4A5567);
  background: -ms-linear-gradient(top, #ff5722, #4A5567);
  background: -o-linear-gradient(top, #ff5722, #4A5567);
}
.bg-theme-colored12-gradient-horizontal {
  background: #ff5722;
  background: -webkit-gradient(linear, left top, right top, from(#ff5722), to(#4A5567));
  background: -webkit-linear-gradient(left, #ff5722, #4A5567);
  background: -moz-linear-gradient(left, #ff5722, #4A5567);
  background: -ms-linear-gradient(left, #ff5722, #4A5567);
  background: -o-linear-gradient(left, #ff5722, #4A5567);
}
.bg-theme-colored21-gradient {
  background-color: #4A5567;
  background: -webkit-gradient(linear, left top, left bottom, from(#4A5567), to(#ff5722));
  background: -webkit-linear-gradient(top, #4A5567, #ff5722);
  background: -moz-linear-gradient(top, #4A5567, #ff5722);
  background: -ms-linear-gradient(top, #4A5567, #ff5722);
  background: -o-linear-gradient(top, #4A5567, #ff5722);
}
.bg-theme-colored21-gradient-horizontal {
  background: #4A5567;
  background: -webkit-gradient(linear, left top, right top, from(#4A5567), to(#ff5722));
  background: -webkit-linear-gradient(left, #4A5567, #ff5722);
  background: -moz-linear-gradient(left, #4A5567, #ff5722);
  background: -ms-linear-gradient(left, #4A5567, #ff5722);
  background: -o-linear-gradient(left, #4A5567, #ff5722);
}
/* -------- layer overlay gradient Color1 ---------- */
.layer-overlay.overlay-theme-colored-gradient::before {
  background: rgba(255, 87, 34, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.9)), to(rgba(255, 165, 136, 0.9)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(255, 165, 136, 0.9));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(255, 165, 136, 0.9));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(255, 165, 136, 0.9));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(255, 165, 136, 0.9));
}
.layer-overlay.overlay-theme-colored-gradient-1::before {
  background: rgba(255, 87, 34, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.1)), to(rgba(255, 165, 136, 0.1)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.1), rgba(255, 165, 136, 0.1));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.1), rgba(255, 165, 136, 0.1));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.1), rgba(255, 165, 136, 0.1));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.1), rgba(255, 165, 136, 0.1));
}
.layer-overlay.overlay-theme-colored-gradient-2::before {
  background: rgba(255, 87, 34, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.2)), to(rgba(255, 165, 136, 0.2)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.2), rgba(255, 165, 136, 0.2));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.2), rgba(255, 165, 136, 0.2));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.2), rgba(255, 165, 136, 0.2));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.2), rgba(255, 165, 136, 0.2));
}
.layer-overlay.overlay-theme-colored-gradient-3::before {
  background: rgba(255, 87, 34, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.3)), to(rgba(255, 165, 136, 0.3)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.3), rgba(255, 165, 136, 0.3));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.3), rgba(255, 165, 136, 0.3));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.3), rgba(255, 165, 136, 0.3));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.3), rgba(255, 165, 136, 0.3));
}
.layer-overlay.overlay-theme-colored-gradient-4::before {
  background: rgba(255, 87, 34, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.4)), to(rgba(255, 165, 136, 0.4)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.4), rgba(255, 165, 136, 0.4));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.4), rgba(255, 165, 136, 0.4));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.4), rgba(255, 165, 136, 0.4));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.4), rgba(255, 165, 136, 0.4));
}
.layer-overlay.overlay-theme-colored-gradient-5::before {
  background: rgba(255, 87, 34, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.5)), to(rgba(255, 165, 136, 0.5)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.5), rgba(255, 165, 136, 0.5));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.5), rgba(255, 165, 136, 0.5));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.5), rgba(255, 165, 136, 0.5));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.5), rgba(255, 165, 136, 0.5));
}
.layer-overlay.overlay-theme-colored-gradient-6::before {
  background: rgba(255, 87, 34, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.6)), to(rgba(255, 165, 136, 0.6)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.6), rgba(255, 165, 136, 0.6));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.6), rgba(255, 165, 136, 0.6));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.6), rgba(255, 165, 136, 0.6));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.6), rgba(255, 165, 136, 0.6));
}
.layer-overlay.overlay-theme-colored-gradient-7::before {
  background: rgba(255, 87, 34, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.7)), to(rgba(255, 165, 136, 0.7)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.7), rgba(255, 165, 136, 0.7));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.7), rgba(255, 165, 136, 0.7));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.7), rgba(255, 165, 136, 0.7));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.7), rgba(255, 165, 136, 0.7));
}
.layer-overlay.overlay-theme-colored-gradient-8::before {
  background: rgba(255, 87, 34, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.8)), to(rgba(255, 165, 136, 0.8)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.8), rgba(255, 165, 136, 0.8));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.8), rgba(255, 165, 136, 0.8));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.8), rgba(255, 165, 136, 0.8));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.8), rgba(255, 165, 136, 0.8));
}
.layer-overlay.overlay-theme-colored-gradient-9::before {
  background: rgba(255, 87, 34, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.9)), to(rgba(255, 165, 136, 0.9)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(255, 165, 136, 0.9));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(255, 165, 136, 0.9));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(255, 165, 136, 0.9));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(255, 165, 136, 0.9));
}
/* -------- layer overlay gradient Color2 ---------- */
.layer-overlay.overlay-theme-colored2-gradient::before {
  background: rgba(74, 85, 103, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.9)), to(rgba(121, 135, 158, 0.9)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(121, 135, 158, 0.9));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(121, 135, 158, 0.9));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(121, 135, 158, 0.9));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(121, 135, 158, 0.9));
}
.layer-overlay.overlay-theme-colored2-gradient-1::before {
  background: rgba(74, 85, 103, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.1)), to(rgba(121, 135, 158, 0.1)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.1), rgba(121, 135, 158, 0.1));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.1), rgba(121, 135, 158, 0.1));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.1), rgba(121, 135, 158, 0.1));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.1), rgba(121, 135, 158, 0.1));
}
.layer-overlay.overlay-theme-colored2-gradient-2::before {
  background: rgba(74, 85, 103, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.2)), to(rgba(121, 135, 158, 0.2)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.2), rgba(121, 135, 158, 0.2));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.2), rgba(121, 135, 158, 0.2));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.2), rgba(121, 135, 158, 0.2));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.2), rgba(121, 135, 158, 0.2));
}
.layer-overlay.overlay-theme-colored2-gradient-3::before {
  background: rgba(74, 85, 103, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.3)), to(rgba(121, 135, 158, 0.3)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.3), rgba(121, 135, 158, 0.3));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.3), rgba(121, 135, 158, 0.3));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.3), rgba(121, 135, 158, 0.3));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.3), rgba(121, 135, 158, 0.3));
}
.layer-overlay.overlay-theme-colored2-gradient-4::before {
  background: rgba(74, 85, 103, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.4)), to(rgba(121, 135, 158, 0.4)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.4), rgba(121, 135, 158, 0.4));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.4), rgba(121, 135, 158, 0.4));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.4), rgba(121, 135, 158, 0.4));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.4), rgba(121, 135, 158, 0.4));
}
.layer-overlay.overlay-theme-colored2-gradient-5::before {
  background: rgba(74, 85, 103, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.5)), to(rgba(121, 135, 158, 0.5)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.5), rgba(121, 135, 158, 0.5));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.5), rgba(121, 135, 158, 0.5));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.5), rgba(121, 135, 158, 0.5));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.5), rgba(121, 135, 158, 0.5));
}
.layer-overlay.overlay-theme-colored2-gradient-6::before {
  background: rgba(74, 85, 103, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.6)), to(rgba(121, 135, 158, 0.6)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.6), rgba(121, 135, 158, 0.6));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.6), rgba(121, 135, 158, 0.6));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.6), rgba(121, 135, 158, 0.6));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.6), rgba(121, 135, 158, 0.6));
}
.layer-overlay.overlay-theme-colored2-gradient-7::before {
  background: rgba(74, 85, 103, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.7)), to(rgba(121, 135, 158, 0.7)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.7), rgba(121, 135, 158, 0.7));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.7), rgba(121, 135, 158, 0.7));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.7), rgba(121, 135, 158, 0.7));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.7), rgba(121, 135, 158, 0.7));
}
.layer-overlay.overlay-theme-colored2-gradient-8::before {
  background: rgba(74, 85, 103, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.8)), to(rgba(121, 135, 158, 0.8)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.8), rgba(121, 135, 158, 0.8));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.8), rgba(121, 135, 158, 0.8));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.8), rgba(121, 135, 158, 0.8));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.8), rgba(121, 135, 158, 0.8));
}
.layer-overlay.overlay-theme-colored2-gradient-9::before {
  background: rgba(74, 85, 103, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.9)), to(rgba(121, 135, 158, 0.9)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(121, 135, 158, 0.9));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(121, 135, 158, 0.9));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(121, 135, 158, 0.9));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(121, 135, 158, 0.9));
}
/* -------- layer overlay gradient Color Combined 12 ---------- */
.layer-overlay.overlay-theme-colored12-gradient::before {
  background: rgba(255, 87, 34, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.9)), to(rgba(74, 85, 103, 0.9)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(74, 85, 103, 0.9));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(74, 85, 103, 0.9));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(74, 85, 103, 0.9));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(74, 85, 103, 0.9));
}
.layer-overlay.overlay-theme-colored12-gradient-1::before {
  background: rgba(255, 87, 34, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.1)), to(rgba(74, 85, 103, 0.1)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.1), rgba(74, 85, 103, 0.1));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.1), rgba(74, 85, 103, 0.1));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.1), rgba(74, 85, 103, 0.1));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.1), rgba(74, 85, 103, 0.1));
}
.layer-overlay.overlay-theme-colored12-gradient-2::before {
  background: rgba(255, 87, 34, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.2)), to(rgba(74, 85, 103, 0.2)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.2), rgba(74, 85, 103, 0.2));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.2), rgba(74, 85, 103, 0.2));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.2), rgba(74, 85, 103, 0.2));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.2), rgba(74, 85, 103, 0.2));
}
.layer-overlay.overlay-theme-colored12-gradient-3::before {
  background: rgba(255, 87, 34, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.3)), to(rgba(74, 85, 103, 0.3)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.3), rgba(74, 85, 103, 0.3));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.3), rgba(74, 85, 103, 0.3));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.3), rgba(74, 85, 103, 0.3));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.3), rgba(74, 85, 103, 0.3));
}
.layer-overlay.overlay-theme-colored12-gradient-4::before {
  background: rgba(255, 87, 34, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.4)), to(rgba(74, 85, 103, 0.4)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.4), rgba(74, 85, 103, 0.4));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.4), rgba(74, 85, 103, 0.4));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.4), rgba(74, 85, 103, 0.4));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.4), rgba(74, 85, 103, 0.4));
}
.layer-overlay.overlay-theme-colored12-gradient-5::before {
  background: rgba(255, 87, 34, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.5)), to(rgba(74, 85, 103, 0.5)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.5), rgba(74, 85, 103, 0.5));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.5), rgba(74, 85, 103, 0.5));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.5), rgba(74, 85, 103, 0.5));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.5), rgba(74, 85, 103, 0.5));
}
.layer-overlay.overlay-theme-colored12-gradient-6::before {
  background: rgba(255, 87, 34, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.6)), to(rgba(74, 85, 103, 0.6)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.6), rgba(74, 85, 103, 0.6));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.6), rgba(74, 85, 103, 0.6));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.6), rgba(74, 85, 103, 0.6));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.6), rgba(74, 85, 103, 0.6));
}
.layer-overlay.overlay-theme-colored12-gradient-7::before {
  background: rgba(255, 87, 34, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.7)), to(rgba(74, 85, 103, 0.7)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.7), rgba(74, 85, 103, 0.7));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.7), rgba(74, 85, 103, 0.7));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.7), rgba(74, 85, 103, 0.7));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.7), rgba(74, 85, 103, 0.7));
}
.layer-overlay.overlay-theme-colored12-gradient-8::before {
  background: rgba(255, 87, 34, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.8)), to(rgba(74, 85, 103, 0.8)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.8), rgba(74, 85, 103, 0.8));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.8), rgba(74, 85, 103, 0.8));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.8), rgba(74, 85, 103, 0.8));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.8), rgba(74, 85, 103, 0.8));
}
.layer-overlay.overlay-theme-colored12-gradient-9::before {
  background: rgba(255, 87, 34, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 87, 34, 0.9)), to(rgba(74, 85, 103, 0.9)));
  background: -webkit-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(74, 85, 103, 0.9));
  background: -moz-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(74, 85, 103, 0.9));
  background: -ms-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(74, 85, 103, 0.9));
  background: -o-linear-gradient(left, rgba(255, 87, 34, 0.9), rgba(74, 85, 103, 0.9));
}
/* -------- layer overlay gradient Color Combined 21 ---------- */
.layer-overlay.overlay-theme-colored21-gradient::before {
  background: rgba(74, 85, 103, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.9)), to(rgba(255, 87, 34, 0.9)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(255, 87, 34, 0.9));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(255, 87, 34, 0.9));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(255, 87, 34, 0.9));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(255, 87, 34, 0.9));
}
.layer-overlay.overlay-theme-colored21-gradient-1::before {
  background: rgba(74, 85, 103, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.1)), to(rgba(255, 87, 34, 0.1)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.1), rgba(255, 87, 34, 0.1));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.1), rgba(255, 87, 34, 0.1));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.1), rgba(255, 87, 34, 0.1));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.1), rgba(255, 87, 34, 0.1));
}
.layer-overlay.overlay-theme-colored21-gradient-2::before {
  background: rgba(74, 85, 103, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.2)), to(rgba(255, 87, 34, 0.2)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.2), rgba(255, 87, 34, 0.2));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.2), rgba(255, 87, 34, 0.2));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.2), rgba(255, 87, 34, 0.2));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.2), rgba(255, 87, 34, 0.2));
}
.layer-overlay.overlay-theme-colored21-gradient-3::before {
  background: rgba(74, 85, 103, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.3)), to(rgba(255, 87, 34, 0.3)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.3), rgba(255, 87, 34, 0.3));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.3), rgba(255, 87, 34, 0.3));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.3), rgba(255, 87, 34, 0.3));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.3), rgba(255, 87, 34, 0.3));
}
.layer-overlay.overlay-theme-colored21-gradient-4::before {
  background: rgba(74, 85, 103, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.4)), to(rgba(255, 87, 34, 0.4)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.4), rgba(255, 87, 34, 0.4));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.4), rgba(255, 87, 34, 0.4));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.4), rgba(255, 87, 34, 0.4));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.4), rgba(255, 87, 34, 0.4));
}
.layer-overlay.overlay-theme-colored21-gradient-5::before {
  background: rgba(74, 85, 103, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.5)), to(rgba(255, 87, 34, 0.5)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.5), rgba(255, 87, 34, 0.5));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.5), rgba(255, 87, 34, 0.5));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.5), rgba(255, 87, 34, 0.5));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.5), rgba(255, 87, 34, 0.5));
}
.layer-overlay.overlay-theme-colored21-gradient-6::before {
  background: rgba(74, 85, 103, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.6)), to(rgba(255, 87, 34, 0.6)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.6), rgba(255, 87, 34, 0.6));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.6), rgba(255, 87, 34, 0.6));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.6), rgba(255, 87, 34, 0.6));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.6), rgba(255, 87, 34, 0.6));
}
.layer-overlay.overlay-theme-colored21-gradient-7::before {
  background: rgba(74, 85, 103, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.7)), to(rgba(255, 87, 34, 0.7)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.7), rgba(255, 87, 34, 0.7));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.7), rgba(255, 87, 34, 0.7));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.7), rgba(255, 87, 34, 0.7));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.7), rgba(255, 87, 34, 0.7));
}
.layer-overlay.overlay-theme-colored21-gradient-8::before {
  background: rgba(74, 85, 103, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.8)), to(rgba(255, 87, 34, 0.8)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.8), rgba(255, 87, 34, 0.8));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.8), rgba(255, 87, 34, 0.8));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.8), rgba(255, 87, 34, 0.8));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.8), rgba(255, 87, 34, 0.8));
}
.layer-overlay.overlay-theme-colored21-gradient-9::before {
  background: rgba(74, 85, 103, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 85, 103, 0.9)), to(rgba(255, 87, 34, 0.9)));
  background: -webkit-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(255, 87, 34, 0.9));
  background: -moz-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(255, 87, 34, 0.9));
  background: -ms-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(255, 87, 34, 0.9));
  background: -o-linear-gradient(left, rgba(74, 85, 103, 0.9), rgba(255, 87, 34, 0.9));
}
