/*
Shadow Skin
*/

/* Menu container */
.menuzord{
	box-shadow: 0 1px 3px #999;
}

/* Menu items */
.menuzord-menu > li{
	padding: 18px 0;
}
.menuzord-menu > li > a{
	padding: 8px 16px;
}

/* Active/hover state (menu items) */
.menuzord-menu > li.active > a,
.menuzord-menu > li:hover > a{
	color: #333;
}

/* Dropdown */
.menuzord-menu ul.dropdown,
.menuzord-menu ul.dropdown li ul.dropdown{
	border-radius: 5px;
	box-shadow: 0 1px 2px #999;
}
.menuzord-menu ul.dropdown{
	top: 64px;
}
.menuzord-menu ul.dropdown li ul.dropdown{
    top: 0;
}

/* Dropdown items */
.menuzord-menu ul.dropdown li:first-child > a{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.menuzord-menu ul.dropdown li:last-child > a{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.menuzord-menu ul.dropdown li:hover > a{
	color: #333;
}

/* Megamenu */
.menuzord-menu > li > .megamenu{
	top: 64px;
	border-radius: 5px;
	box-shadow: 0 1px 2px #999;
}

/* Search Field */
.menuzord-menu > li.search form{
	padding: 2px 16px;
}

/* Color schemes */
/* blue */
.menuzord.blue .menuzord-menu > li.active > a, 
.menuzord.blue .menuzord-menu > li:hover > a, 
.menuzord.blue .menuzord-menu ul.dropdown li:hover > a{ 
	color: #5D9CEC; 
}
/* green */
.menuzord.green .menuzord-menu > li.active > a, 
.menuzord.green .menuzord-menu > li:hover > a, 
.menuzord.green .menuzord-menu ul.dropdown li:hover > a{ 
	color: #48CFAD;
}
/* red */
.menuzord.red .menuzord-menu > li.active > a, 
.menuzord.red .menuzord-menu > li:hover > a, 
.menuzord.red .menuzord-menu ul.dropdown li:hover > a{ 
	color: #FC6E51;
}
/* orange */
.menuzord.orange .menuzord-menu > li.active > a, 
.menuzord.orange .menuzord-menu > li:hover > a, 
.menuzord.orange .menuzord-menu ul.dropdown li:hover > a{ 
	color: #ff853f;
}
/* yellow */
.menuzord.yellow .menuzord-menu > li.active > a, 
.menuzord.yellow .menuzord-menu > li:hover > a, 
.menuzord.yellow .menuzord-menu ul.dropdown li:hover > a{ 
	color: #FFCE54;
}
/* purple */
.menuzord.purple .menuzord-menu > li.active > a, 
.menuzord.purple .menuzord-menu > li:hover > a, 
.menuzord.purple .menuzord-menu ul.dropdown li:hover > a{ 
	color: #AC92EC;
}
/* pink */
.menuzord.pink .menuzord-menu > li.active > a, 
.menuzord.pink .menuzord-menu > li:hover > a, 
.menuzord.pink .menuzord-menu ul.dropdown li:hover > a{ 
	color: #EC87C0;
}

/* Mobile mode (Responsive mode) */
@media (max-width: 1000px){
	/* Menu items */
	.menuzord-responsive .menuzord-menu > li{
		padding: 0;
	}
	.menuzord-responsive .menuzord-menu > li > a{
		padding: 12px 20px !important;
		border-radius: 0;
		box-shadow: none;
	}
	/* Dropdown */
	.menuzord-menu ul.dropdown,
	.menuzord-menu ul.dropdown li ul.dropdown{
		border-radius: 0;
		box-shadow: none;
	}
	/* Megamenu */
	.menuzord-menu > li > .megamenu{
		border-radius: 0;
		box-shadow: none;
	}
}