/*
Dark Skin
*/

/* Menu container */
.menuzord{ 
	background: #34495e; 
}

/* Brand */
.menuzord-brand{
	color: #fff;
}

/* Menu items */
.menuzord-menu > li > a{
	color: #ccc;
}

/* Active/hover state (Menu items) */
.menuzord-menu > li.active > a,
.menuzord-menu > li:hover > a{
	color: #fff;
}

/* Dropdown */
.menuzord-menu ul.dropdown,
.menuzord-menu ul.dropdown li ul.dropdown{
	background: #34495e;
}

/* Dropdown items */
.menuzord-menu ul.dropdown li a{
	color: #ccc;
}

/* Hover state (dropdown items) */
.menuzord-menu ul.dropdown li:hover > a{
	color: #fff;
}

/* Megamenu */
.menuzord-menu > li > .megamenu{
	background: #34495e;
	color: #ccc;
	border-top: solid 1px #2f4255;
}

/* tabs */
.menuzord-tabs-nav > li > a{
	color: #ccc;
	border: solid 1px #415b75;
}
.menuzord-tabs-nav li.active a,
.menuzord-tabs-nav li:hover a{
	background: #415b75;
}
.menuzord-tabs-content{
	border: solid 1px #415b75;
}

/* Show/hide button (mobile mode)*/
.menuzord .showhide em{
	background: #ccc;
}

/* Search field */
.menuzord-menu > li.search form:before{
	color: #fff;
}
.menuzord-menu > li.search form input[type="text"]{
	background: #415b75;
	color: #fff;
}

/* Color schemes */
/* blue */
.menuzord.blue .menuzord-menu > li.active > a, 
.menuzord.blue .menuzord-menu > li:hover > a, 
.menuzord.blue .menuzord-menu ul.dropdown li:hover > a{ 
	color: #5D9CEC; 
}
/* green */
.menuzord.green .menuzord-menu > li.active > a, 
.menuzord.green .menuzord-menu > li:hover > a, 
.menuzord.green .menuzord-menu ul.dropdown li:hover > a{ 
	color: #48CFAD; 
}
/* red */
.menuzord.red .menuzord-menu > li.active > a, 
.menuzord.red .menuzord-menu > li:hover > a, 
.menuzord.red .menuzord-menu ul.dropdown li:hover > a{ 
	color: #FC6E51; 
}
/* orange */
.menuzord.orange .menuzord-menu > li.active > a, 
.menuzord.orange .menuzord-menu > li:hover > a, 
.menuzord.orange .menuzord-menu ul.dropdown li:hover > a{ 
	color: #ff853f; 
}
/* yellow */
.menuzord.yellow .menuzord-menu > li.active > a, 
.menuzord.yellow .menuzord-menu > li:hover > a, 
.menuzord.yellow .menuzord-menu ul.dropdown li:hover > a{ 
	color: #FFCE54; 
}
/* purple */
.menuzord.purple .menuzord-menu > li.active > a, 
.menuzord.purple .menuzord-menu > li:hover > a, 
.menuzord.purple .menuzord-menu ul.dropdown li:hover > a{ 
	color: #AC92EC; 
}
/* pink */
.menuzord.pink .menuzord-menu > li.active > a, 
.menuzord.pink .menuzord-menu > li:hover > a, 
.menuzord.pink .menuzord-menu ul.dropdown li:hover > a{ 
	color: #EC87C0; 
}

/* Mobile mode (Responsive mode) */
@media (max-width: 1000px){
	/* Menu items */
	.menuzord-responsive .menuzord-menu > li > a{
		padding: 12px 20px !important;
		border-color: #3c546c !important;
	}
	
	/* Dropdown/megamenu indicators */
	.menuzord-responsive .menuzord-menu li .indicator{
		border-color: #3c546c;
	}
	
	/* Dropdown */
	.menuzord-responsive .menuzord-menu ul.dropdown,
	.menuzord-responsive .menuzord-menu ul.dropdown li ul.dropdown{
		background: #34495e;
	}
	
	/* Dropdown items */
	.menuzord-responsive .menuzord-menu ul.dropdown li a{
		border-color: #3c546c !important;
	}
	
	/* Megamenu */
	.menuzord-responsive .menuzord-menu > li > .megamenu{
		border-color: #3c546c !important;
	}
}